@import '../styles/globals';

@mixin styleBackground($color, $right, $left){
  content: '';
  position: absolute;
  top: 0;
  bottom: -1px;
  right: $right;
  left: $left;
  background: $color;
}

.header__container{

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: $greenLow;
  width: 100%;
  overflow: hidden;
  border-bottom-right-radius: 40% 15%;
  z-index: 2;
  &::after{
    @include styleBackground($blueDark, 0, 240px);
    z-index: 0;
  }
  .header__image{
    margin-left: 120px;
    margin-top: 40px;
    width: 300px;
    z-index: 2;
  }
  
  .header__info {
    color: $blueLight;
    margin-right: 80px;
    margin-top: 100px;
    z-index: 1;
    h2{
      color: $greenLow;
      font-size: 44px;
      font-weight: bold;
      margin: 10px 0;
    }
    p{
      font-size: 14px;
      width: 220px;
      margin-top: -5px;
      span{
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header__container{ 
    &::after{
      @include styleBackground($blueDark, 0, 130px);
    }
    .header__image{
      margin-left: 20px;
    }
  }  
}
@media (max-width: 572px) { 
  .header__container{
    &::after{
      @include styleBackground($blueDark, 0, 95px);
    }
    .header__image{
      width: 200px;
    }
    .header__info {
      margin-right: 10px;
      margin-top: 50px;
      h2{
        font-size: 36px;
      }
      p{
        font-size: 12px;
        span{
          font-size: 17px;
        }
      }
    }
  }
}

@media (max-width: 426px) { 
  .header__container{
    &::after{
      background: none;
    }
    .header__image{
      margin-top: 15px;
      margin-left: 10px;
      width: 150px;
    }
    .header__info {
      margin-right: 10px;
      margin-top: 30px;
      h2{
        font-size: 32px;
        color: $blueDark;
      }
      p{
        font-size: 14px;
        text-shadow: 0 0 5px #00000080;
        width: 180px;
        span {
          font-size: 15px;
        }
      }
      button {
        margin-top: 10px ;
      }
    }
  }
}

