@import '../styles/globals';
.portfolio__container {
  position: relative;
  background: $blueDark;
  width: 100%;
  padding: 20px;

  .portfolio__title{ 
    color: $blueLight;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin: 10px;
    padding-bottom: 15px;
  }

  .projects__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
    place-items: center;
  }
}

@media (max-width: 768px) {
  .portfolio__container {
    .projects__container {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }
}
@media (max-width: 425px) {
  .portfolio__container {
    .projects__container {
      grid-template-columns: repeat(1, 1fr);
      padding-right: 5px;
    }
  }
}