@import '../styles/globals';
.portfolio__container {
  position: relative;
  background: $blueDark;
  width: 100vw;
  padding: 20px 30px 20px 10px;

  .portfolio__title{ 
    color: $blueLight;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin: 10px;
    padding-bottom: 15px;
  }

  .projects__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    place-items: center;
  }
}
