@import '../styles/globals';

.projectDetail__container {
  position: relative;
  width: 100%;
  display: grid;
  gap: 20px;
  padding: 30px 10px;
  grid-template: 1fr 3fr 2fr / 2fr 3fr ;
  background: $blueDark;
  color: $blueLight;

  h3{
    grid-row-start: 1 ;
    grid-column-start: 1 ;
    font-size: 24px;
    font-weight: 500;
    color: $greenLow;
  }
  p{
    padding: 8px 0;
    text-align: justify;
    margin-bottom: 10px;
  }
   .projectDetail__goal{
    grid-row-start: 1 ;
    grid-column-start: 2 ;

   }

   .projectDetail__description{
    grid-row-start: 2;
    grid-column-start: 2 ;
    grid-row-end: 4;
    h5{
      font-size: 16px;
      font-weight: 400;
      padding: 10px;
      color: $blueLight;
    }
    a{
      padding-left: 5px;
      color: $blueLight;
      cursor: pointer;
    }
   }

   .projectDetail__galery {
    grid-row-start: 2;
    grid-column-start: 1;
    
   }

   .projectDetail__skills {
    grid-row-start: 3;
    grid-column-start: 1;
    .skills__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      p {
        padding: 8px;
        margin: 0 6px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
        color: $blueDarkLight;
        border-radius: 20px;
      }
    }
   }
   .button__back {
    position: absolute;
    top: 20px;
    right: 40px;
    background: none;
    border: none;
    color:  $blueLight;
    cursor: pointer;

    &:hover{
      color: $greenLow;
    }
   }
   h4{
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
    text-align: center;
  }

  p{
    font-size: 16px;
    font-weight: 300;
    padding: 0 5px;
  }
}
@media (max-width: 572px) { 
  .projectDetail__container {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    h3{
      text-align: center;
    }
    
    h4 {
      text-align: start;
      padding-left: 10px;
    }
     
    .projectDetail__galery {
      width: 80%;
      margin: 0 auto;
      h4 {
        text-align: center;
      }
    }
  
     .projectDetail__skills {
      h4{
        text-align: center;
      } 
     }
     .button__back {
      top: 5px;
      right: 5px;
     }
  }
}